body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

.mainContainer {
    position: absolute;
    width: 100%;
}

.container {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
}

hr {
    margin-top: -5px;
    margin-bottom: 20px;
    width: 70px;
    opacity: 0.6;
}

.titleIcon {
    font-size: 80px;
    color: #767676;
}

/*---------Headbar-----------*/

ul.topnav {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    overflow: hidden;
    z-index: 10000;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 24px 37px -21px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 24px 37px -21px rgba(0,0,0,0.29);
    box-shadow: 0px 24px 37px -21px rgba(0,0,0,0.29);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #030946;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
    background-color: rgba(146, 153, 204, 0.21);
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-bottom: solid 3px rgba(43, 64, 180, 0.77);
}

ul.topnav li.icon {display: none;}

ul.topnav li a.logoText {
    font-weight: 700;
    color: rgb(27, 122, 216);
}

/*---------------------------------------------*/

/*------------------Trailer--------------------*/

.trailer {
    width: 100%;
    height: 600px;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trailer .layer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 132, 199, 0.75);
}

.trailer .layer .content {
    position: relative;
    top: 190px;
    text-align: center;
}

.trailer h1 {
    font-size: 3rem;
    color: white;
}

.trailer p {
    letter-spacing: 3px;
    font-weight: 100;
    color: white;
}

.trailer button {
    width: 230px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: solid 3px rgba(255, 255, 255, 0.79);
    border-radius: 3px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 400;
}

.trailer button:hover {
    background-color: rgba(255, 255, 255, 0.53);
}

/*---------------------------------------------*/

/*------------------Projects-------------------*/

.card {
    display: inline-block;
    width: 300px;
    height: 360px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 14px 19px 129px -36px rgba(0,0,0,0.2);
    -moz-box-shadow: 14px 19px 129px -36px rgba(0,0,0,0.2);
    box-shadow: 14px 19px 129px -36px rgba(0,0,0,0.2);
}

.card:hover {
    background-color: rgba(227, 227, 227, 0.34);
}

.card img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 5px;
}

.card .layer {
    width: 100%;
    height: 40%;
    border-radius: 5px;
}

.sharkTracker {background-color: rgb(134, 255, 227);}

.addds {background-color: rgba(169,81,237,0.8);}

.polylingual {background-color: rgba(81, 237, 159, 0.8);}

.kcl {background-color: rgb(255, 169, 169)}

.stjohns {background-color: rgba(55, 132, 255, 0.97)}

/*---------------------------------------------*/

/*-------------------AboutMe-------------------*/

.chart {
    margin: auto;
    margin-top: 80px;
    min-width: 300px;
    max-width: 533px;
    min-height: 180px;
    width: 70%;
    height: auto;
}

/*---------------------------------------------*/

/*-------------------Contact-------------------*/

.contact {
    -webkit-box-shadow: 0px -12px 45px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -12px 45px -26px rgba(0,0,0,0.75);
    box-shadow: 0px -12px 45px -26px rgba(0,0,0,0.75);
}

.myinfo {
    display: inline-block;
    font-size:70px;
    border-radius: 10%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: auto;
    border: solid 4px rgba(255, 255, 255, 0.65);
    background-color: rgba(185, 185, 188, 0.32);
}

.myinfo a {
    text-decoration: none;
    color: #585858;
}

/*---------------------------------------------*/

/*-------------------SharkPage-----------------*/

.sharkTrackerPage img {
    width: 60%;
    display: block;
    margin: 20px auto;
}

.sharkTrackerPage button, .polylingualPage button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(10, 196, 124);
    color: white;
    border: none;
    margin: 10px;
}

.sharkTrackerPage button:hover, .polylingualPage button:hover {
    background-color: rgba(221, 221, 221, 0.25);
    color: rgb(10, 196, 124);
    border: solid 2px rgb(10, 196, 124);
}

/*---------------------------------------------*/

/*----------------Responsive-------------------*/

@media screen and (max-width:885px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:885px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
